.cbp-af-header {
	position: fixed;
	top: -3%;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 10000;
	height: 150px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: 230px;
}

.cbp-af-header h1 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 4em;
	margin: 0;
	float: left;
}

.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a {
	color: #aaa;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
}

.cbp-af-header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;	
}
.cbp-af-header.cbp-af-header-shrink {
	height: 100px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.38);
	padding-bottom: 120px;
	
}

.cbp-af-header.cbp-af-header-shrink a{
-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top: -20px;
}
.cbp-af-header.cbp-af-header-shrink img{
-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top: -20px;
}


.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 100px;
	
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2em;
}


@media screen and (min-width: 1920px) and (max-width: 4000px){
	.cbp-af-header {
		position: fixed;
		top: -2.5%;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 10000;
		height: 150px;
		overflow: hidden;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
	}
	
	.cbp-af-header .cbp-af-inner #soporAfil {
	width: 90%;
	max-width: 69em;
	margin: 5px auto;
	padding: 0 1.875em;
}

	.cbp-af-header .cbp-af-inner {
		width: 90%;
		max-width: 69em;
		margin: 10px auto;
		padding: 0 1.875em;
	}

	.cbp-af-header .cbp-af-inner #soporAfil {
		margin: 10px 0 0 760px;
		img{
			width: 70%;
		}
	}

		.cbp-af-header.cbp-af-header-shrink img {
			width: 60%;
			padding-top: 10%;
		}
		
		.cbp-af-header.cbp-af-header-shrink ul {
			padding-top: 5px;
			width: 60%;
		}

		.cbp-af-header.cbp-af-header-shrink {
			height: 100px;
			box-shadow: 1px 1px 4px rgba(0,0,0,0.38);
		}
		
		.cbp-af-header.cbp-af-header-shrink ul li{
		-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s; 
			padding-top: 4%;
			padding-bottom: 3%;
		}
		
}
@media screen and (min-width: 1200px) and (max-width: 1919px){
	.cbp-af-header {
		position: fixed;
		top: -2.5%;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 10000;
		height: 150px;
		overflow: hidden;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
	}
	
	.cbp-af-header .cbp-af-inner #soporAfil {
	width: 90%;
	max-width: 69em;
	margin: 5px auto;
	padding: 0 1.875em;
}

	.cbp-af-header .cbp-af-inner {
		width: 90%;
		max-width: 69em;
		margin: 10px auto;
		padding: 0 1.875em;
	}

	.cbp-af-header .cbp-af-inner #soporAfil {
		margin: 10px 0 0 760px;
	}

		.cbp-af-header.cbp-af-header-shrink img {
			width: 60%;
			padding-top: 2%;
		}
		
		.cbp-af-header.cbp-af-header-shrink ul {
			padding-top: 15px;
			width: 60%;
		}

		.cbp-af-header.cbp-af-header-shrink {
			height: 80px;
			box-shadow: 1px 1px 4px rgba(0,0,0,0.38);
		}
		
		.cbp-af-header.cbp-af-header-shrink ul li{
		-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s; 
			padding-top: .5%;
			padding-bottom: 3%;
		}
		
}
@media screen and (min-width: 960px) and (max-width: 990px){
	cbp-af-header {
		position: fixed;
		top: -5%;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 10000;
		height: 140px;
		overflow: hidden;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
	}
	
	.cbp-af-header .cbp-af-inner #soporAfil {
	width: 90%;
	max-width: 69em;
	margin: -20px auto;
	padding: 0 1.875em;
}

	.cbp-af-header .cbp-af-inner #soporAfil {
		margin: 20px 0 0 500px;
	}
	.cbp-af-header.cbp-af-header-shrink a{
		-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			margin-top: -10px;
		}
	

}
@media screen and (min-width: 720px) and (max-width: 959px){
	.cbp-af-header {
		position: fixed;
		top: -2%;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 10000;
		height: 110px;
		overflow: hidden;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
	}
	
	.cbp-af-header .cbp-af-inner #soporAfil {
	width: 90%;
	max-width: 69em;
	margin: 5px auto;
	padding: 0 1.875em;
	}

	.cbp-af-header .cbp-af-inner {
		width: 90%;
		max-width: 69em;
		margin: -15px auto;
		padding: 0 1.875em;
	}

	.cbp-af-header .cbp-af-inner #soporAfil {
		margin: 30px 0 0 400px;
	}
	
	.cbp-af-header.cbp-af-header-shrink a{
		-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			margin-top: -5px;
		}
		.cbp-af-header.cbp-af-header-shrink {
		height: 90px;
		box-shadow: 1px 1px 4px rgba(0,0,0,0.38);
		padding-bottom: 20px;
		
	}
}
