/*--------------variables-------------*/
/*--------------header---------------*/
header {
  width: 100%;
  height: 100px;
  margin: 15px 0;
}
header ul {
  font-family: "Nexa light", Helvetica, Arial;
  font-size: large;
  margin-top: 80px;
  padding-top: 50px;
}
header #soporAfil {
  font-family: "Nexa light", Helvetica, Arial;
  padding: 30px 20px 0px 20px;
  margin: 0 80%;
}
header #soporAfil a {
  padding: -10px 30px 0 30px;
  margin: 0 10px;
  color: #7e7e7e;
}
header #soporAfil a:hover {
  text-decoration: none;
  color: #1ca8f7;
}
/*---------------footer---------------*/
footer {
  width: 100%;
  height: 50px;
  background-color: #898989;
}
footer p {
  text-align: center;
  color: #636363;
  font-family: "Nexa Bold", Helvetica, Arial;
  padding-top: 1%;
}
/*---------------Index---------------*/
#slide {
  width: 100%;
}
#slide .slider-container {
  margin: 0 -15px;
}
#slide #slider {
  width: 100%;
}
.centrado {
  color: #1ca8f7;
  font-family: "Nexa Bold", Helvetica, Arial;
  text-align: center;
}
.justificado {
  text-align: justify;
  color: #7e7e7e;
}
#aprenderas {
  margin-top: 400px;
}
#aprenderas h1 {
  color: #636363;
  text-align: center;
  margin-bottom: 50px;
}
#aprenderas h3 {
  color: #1ca8f7;
}
#aprenderas p {
  color: #7e7e7e;
}
.aprende {
  margin: -30px 0 -150px 0;
  padding: -150px 0 10px 0;
}
#comienza {
  width: 100%;
  background-color: #a7de57;
  padding: 70px 0;
}
#comienza h1 {
  color: white;
  font-family: "Nexa Bold", Helvetica, Arial;
  font-size: 4em;
}
#comienza h2 {
  color: white;
  font-family: "Nexa Bold", Helvetica, Arial;
  font-size: 3em;
  text-shadow: 1px 1px 3px black;
}
#comienza p {
  color: black;
  font-family: "Nexa light", Helvetica, Arial;
  font-size: large;
}
#comienza span {
  font-family: "Nexa Bold", Helvetica, Arial;
  color: white;
  padding-left: 40px;
  font-size: x-large;
}
a.btn-azul {
  margin-left: 37%;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  top: 0;
  margin-bottom: 30px;
  padding: 15px 45px;
  background: #1ca8f7;
  box-shadow: 0px 6px 0px #136f9f;
  color: white;
  font-size: 28px;
  font-family: "Nexa Bold", Helvetica, Arial;
}
a.btn-azul:hover {
  top: 4px;
  background: #12a4f7 !important;
  box-shadow: 0px 4px 0px #136f9f;
  text-decoration: none;
}
a.btn-azul:active {
  top: 7px;
  background: #12a4f7 !important;
  box-shadow: 0px 2px 0px #136f9f;
}
#beneficios {
  margin: 100px 0;
}
#beneficios #mac {
  right: 180px;
  top: 200px;
}
#beneficios #encabezados ul {
  color: #636363;
  text-align: left;
  margin-left: -30px;
  font-family: helvetica, arial;
  margin-bottom: 50px;
}
.light {
  text-align: center;
  font-family: "Nexa light", Helvetica, Arial;
  color: #1ca8f7;
  font-size: 4.5em;
  line-height: 30%;
}
a.btn-verde {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  margin: 0 35% 30px 30%;
  padding: 10px 12%;
  background: #a7de57;
  box-shadow: 0px 6px 0px #7ba53b;
  color: white;
  font-size: 28px;
  font-family: "Nexa Bold", Helvetica, Arial;
}
a.btn-verde:hover {
  top: 4px;
  background: #a3dc4e !important;
  box-shadow: 0px 4px 0px #7ba53b;
  text-decoration: none;
}
a.btn-verde:active {
  top: 7px;
  background: #a3dc4e !important;
  box-shadow: 0px 2px 0px #7ba53b;
}
.jOscuro {
  text-align: justify;
  color: #636363;
  margin: 50px 0;
  font-family: helvetica, arial;
}
#testimoniales {
  width: 100%;
  background-image: url('../img/forex-quote-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1920px;
}
#testimoniales h2 {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55);
  padding: 40px 0 15px 3%;
}
#testimoniales span {
  margin-right: 30px;
  float: right;
  color: #136f9f;
}
.nexab {
  font-family: "Nexa Bold", Helvetica, Arial;
}
.nexal {
  font-family: "Nexa light", Helvetica, Arial;
}
.azulOscuro {
  color: #136f9f;
}
#franjaAzul {
  width: 100%;
  background-color: #1ca8f7;
  padding: 10px 0;
}
#franjaAzul p {
  margin-left: -60px;
  padding-top: 20px;
  color: white;
  font-family: "Nexa light", Helvetica, Arial;
}
#franjaAzul p span {
  font-size: 1.8em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
#franjaAzul #btn-af {
  height: 70px;
  width: 250px;
  background-color: #136f9f;
  padding: 10px 0 10px 40px;
  margin-left: -30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
a.btn-afiliado {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  top: 0;
  color: white;
  padding-right: 60px;
}
a.btn-afiliado span {
  font-size: 2.3em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
a.btn-afiliado:hover {
  top: 4px;
  background: #126996 !important;
  text-decoration: none;
}
a.btn-afiliado:active {
  top: 7px;
  background: #126996 !important;
}
#riesgo {
  background-color: #D7D7D7;
  background-image: url('../img/forex-X.png');
  background-repeat: no-repeat;
  padding: 50px 0;
}
#riesgo #advertencia h3 {
  padding: 10px 0px;
  text-align: center;
}
#riesgo #izq {
  margin-left: 30px;
}
/*---------------Curso---------------*/
/*---------------Comprar---------------*/
#comprar {
  width: 100%;
}
#comprar #contenido-comprar {
  background-color: white;
}
#comprar #contenido-comprar section {
  position: absolute;
  width: 500px;
  margin: -620px 10% 0 40%;
  background-color: white;
  padding: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
#comprar #contenido-comprar section h1 {
  color: #136f9f;
}
#comprar #contenido-comprar section h4 {
  font-family: "Nexa light", Helvetica, Arial;
  color: #136f9f;
}
#comprar #contenido-comprar section h2 {
  font-family: "Nexa light", Helvetica, Arial;
  color: #136f9f;
  padding-top: 30px;
}
#comprar #contenido-comprar section ul {
  color: #7e7e7e;
  font-family: Helvetica;
  list-style: none;
}
#comprar #contenido-comprar section ul {
  padding: 30px 40px;
}
/*---------------Afiliate---------------*/
/*---------------Contacto---------------*/
#contacto #banner-contacto {
  width: 100%;
}
#contacto #banner-contacto section {
  margin: -250px 0 0 0;
}
#contacto #banner-contacto section h1 {
  color: white;
  font-family: "Nexa Bold", Helvetica, Arial;
  font-size: 4em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
#contacto #banner-contacto section h4 {
  font-family: "Nexa light", Helvetica, Arial;
  color: white;
  font-size: 2em;
  padding-top: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#contacto #formulario-contacto {
  width: 100%;
  height: 700px;
  margin: 100px 0 100px 0;
  background-image: url('../img/mail-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}
#contacto #formulario-contacto #formCont {
  background-color: #F2F2F2;
  padding: 50px 50px 90px 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: "Nexa light", Helvetica, Arial;
}
#contacto #formulario-contacto #formCont label {
  font-family: "Nexa light", Helvetica, Arial;
}
.btn-verde {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  top: 0;
  margin-bottom: 30px;
  padding: 10px 90px;
  background: #a7de57;
  box-shadow: 0px 6px 0px #7ba53b;
  color: white;
  font-size: 28px;
  font-family: "Nexa Bold", Helvetica, Arial;
}
.btn-verde:hover {
  top: 4px;
  background: #a3dc4e !important;
  box-shadow: 0px 4px 0px #7ba53b;
  text-decoration: none;
}
.btn-verde:active {
  top: 7px;
  background: #a3dc4e !important;
  box-shadow: 0px 2px 0px #7ba53b;
}
/*----------------SOPORTE-------------*/
#img-soporte {
  width: 100%;
  height: 400px;
  background-image: url('../img/soportebanner.jpg');
  background-position: center top;
}
#img-soporte h1 {
  padding-top: 150px;
  font-family: "Nexa Bold", Helvetica, Arial;
  color: white;
  text-align: center;
  font-size: 4em;
  text-shadow: 1px 1px 2px black;
}
#img-soporte p {
  font-family: "Nexa light", Helvetica, Arial;
  color: white;
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 1px 2px black;
}
#img-soporte hr {
  width: 20%;
  box-shadow: .1px .1px 1px black;
}
#soporte {
  margin: 50px auto;
}
#soporte ul {
  list-style: none;
  color: #7e7e7e;
  text-align: justify;
}
#soporte ul li {
  padding: 10px 0;
}
#soporte ul li h4 {
  color: #1ca8f7;
  font-family: "Nexa Bold", Helvetica, Arial;
  font-size: 1.5em;
}
#soporte ul li p {
  font-family: helvetica;
  padding-bottom: 50px;
  border-bottom: 1px solid #7e7e7e;
}
#soporte h2 {
  font-family: "Nexa Bold", Helvetica, Arial;
  color: #1ca8f7;
  padding: 20px 20px 0px 0px;
  border-bottom: 1px solid #1ca8f7;
  font-size: 2.5em;
}
.icon-bar {
  background-color: #136f9f !important;
}
#sidebar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 40px 0px 0px 75px;
  padding: 0px 25px;
  background-color: #F2F2F2;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.46);
}
#sidebar h3 {
  font-family: "Nexa Bold", Helvetica, Arial;
  color: #1ca8f7;
  border-bottom: 1px solid #1ca8f7;
}
#sidebar h4 {
  padding-top: 20px;
}
#sidebar ul {
  font-family: "Nexa light", Helvetica, Arial;
  padding-top: -20px;
}
#sidebar ul li {
  margin-bottom: -20px;
}
#sidebar #correoSoporte {
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: -5px 5px 5px 5px;
  margin: 15px 0;
}
#sidebar #correoSoporte h4 {
  text-align: center;
  color: #636363;
}
#sidebar #correoSoporte a {
  font-family: "Nexa Bold", Helvetica, Arial;
  font-size: 1.3em;
  padding: 3px 10px;
  color: #1ca8f7;
  text-decoration: none;
}
.cinco {
  font-size: 5em;
}
.mgtop {
  margin-top: -70px;
}
@media only screen and (min-width: 1200px) and (max-width: 4000px) {
  #aprenderas {
    margin-top: 400px;
  }
  #aprenderas p {
    font-size: 1.5em;
  }
  #contenido-comprar section {
    margin: -1000px 10% auto -40%;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {
  header img {
    width: 80%;
  }
  header ul {
    position: relative;
    z-index: 1000px;
    padding-top: 20px;
  }
  header ul li {
    padding-right: -10px;
    margin-right: 20px;
  }
  #aprenderas {
    margin-top: 400px;
  }
  #aprenderas p {
    font-size: 2em;
  }
  #banner-contacto section {
    padding-top: 50px;
  }
  #comprar #contenido-comprar section {
    height: 350px;
    margin: -400px 0 0 220px;
  }
  #comprar #contenido-comprar section h1 {
    font-size: 3em;
  }
  #comprar #contenido-comprar section h4 {
    font-size: 2em;
  }
  #comprar #contenido-comprar section h2 {
    margin-top: -20px;
    font-size: 2.5em;
  }
  #comprar #contenido-comprar section ul {
    display: none;
  }
}
@media only screen and (min-width: 960px) and (max-width: 990px) {
  header img {
    width: 40%;
  }
  header ul {
    float: right;
    position: absolute;
    z-index: 1000px;
    margin-left: 400px;
  }
  header ul li {
    padding-bottom: 10px;
  }
  #menu {
    margin: -60px 30px 60px 300px;
    z-index: 10000;
    position: absolute;
  }
  #menu li {
    padding-top: -300px;
  }
  #aprenderas {
    margin-top: 200px;
  }
  #aprenderas p {
    font-size: 2em;
  }
  #tresimagenes img {
    margin: 0 30%;
  }
  #comprar #contenido-comprar section {
    position: absolute;
    margin: -88% 20%;
  }
  #beneficios #mac {
    display: none;
  }
  #franjaAzul h2 {
    text-align: center;
  }
  #franjaAzul p {
    margin: 0 30%;
  }
  #franjaAzul #btn-af {
    margin: 0 30%;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  header #sporAfil {
    margin-top: 100px;
  }
  header img {
    margin-top: -30px;
    width: 50%;
  }
  header ul {
    position: absolute;
    top: 3%;
    left: 32%;
  }
  #slide {
    margin-top: 50px;
  }
  #aprenderas {
    margin-top: 100px;
  }
  #aprenderas p {
    font-size: 2.3em;
  }
  #comprar #contenido-comprar section {
    width: 500px;
    height: 350px;
    margin: -400px 0 0 80px;
  }
  #comprar #contenido-comprar section h1 {
    font-size: 2em;
  }
  #comprar #contenido-comprar section h4 {
    font-size: 1em;
  }
  #comprar #contenido-comprar section h2 {
    margin-top: -20px;
    font-size: 1.5em;
  }
  #comprar #contenido-comprar section ul {
    display: none;
  }
  #beneficios #mac {
    display: none;
  }
  #tresimagenes img {
    margin: 0 25%;
  }
  #banner-contacto section {
    padding-top: 50px;
  }
  #franjaAzul h2 {
    text-align: center;
  }
  #franjaAzul p {
    margin: 0 30%;
  }
  #franjaAzul #btn-af {
    margin: 0 30%;
  }
}
@media only screen and (min-width : 481px) and (max-width : 719px) {
  #slide {
    margin-top: 25%;
  }
  #aprenderas {
    margin-top: 100px;
  }
  #aprenderas p {
    font-size: 2.5em;
  }
  #aprenderas section img {
    top: -100px;
  }
  #otromenu {
    top: -300px;
    width: 50%;
  }
  #otromenu #menu {
    top: -100px;
    float: right;
    font-size: 1em;
    padding: 0 -10px;
    margin-top: -50px;
  }
  header img {
    width: 50%;
  }
  #comprar #contenido-comprar section {
    width: 300px;
    height: 300px;
    margin: -400px 0 0 80px;
  }
  #comprar #contenido-comprar section h1 {
    font-size: 2em;
  }
  #comprar #contenido-comprar section h4 {
    font-size: 1em;
  }
  #comprar #contenido-comprar section h2 {
    margin-top: -20px;
    font-size: 1.5em;
  }
  #comprar #contenido-comprar section ul {
    display: none;
  }
  #tresimagenes img {
    margin-left: 5%;
  }
  #beneficios #mac {
    display: none;
  }
  #banner-contacto section {
    padding-top: 50px;
  }
  #franjaAzul h2 {
    text-align: center;
  }
  #franjaAzul p {
    margin: 0 30%;
  }
  #franjaAzul #btn-af {
    margin: 0 30%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #slide {
    margin-top: 35%;
  }
  #aprenderas {
    margin-top: 100px;
  }
  #aprenderas p {
    font-size: 2em;
  }
  #aprenderas section img {
    top: -100px;
  }
  #otromenu {
    top: -300px;
    width: 50%;
  }
  #otromenu #menu {
    top: -100px;
    float: right;
    font-size: 1em;
    padding: 0 -10px;
    margin-top: -50px;
  }
  header img {
    width: 50%;
  }
  #comprar #contenido-comprar section {
    width: 300px;
    height: 300px;
    margin: -400px 0 0 50px;
  }
  #comprar #contenido-comprar section h1 {
    font-size: 2em;
  }
  #comprar #contenido-comprar section h4 {
    font-size: 1em;
  }
  #comprar #contenido-comprar section h2 {
    margin-top: -20px;
    font-size: 1.5em;
  }
  #comprar #contenido-comprar section ul {
    display: none;
  }
  #beneficios #mac {
    display: none;
  }
  #beneficios h1 {
    font-size: 3em;
  }
  #tresimagenes img {
    margin: 0 15%;
  }
  #contacto #banner-contacto section {
    padding-top: 50px;
  }
  #contacto #banner-contacto section h1 {
    font-size: 3em;
  }
  #contacto #banner-contacto section h4 {
    font-size: 2em;
  }
  #contacto #formulario-contacto #formCont {
    margin-bottom: 80px;
  }
  #franjaAzul h2 {
    text-align: center;
  }
  #franjaAzul p {
    margin: 0 30%;
  }
  #franjaAzul #btn-af {
    margin: 0 30%;
  }
}
