/*--------------variables-------------*/
/*--------------generales---------------*/
.img-banner {
  width: 100%;
  height: 300px;
  background-position: center center;
}
.img-banner h1 {
  padding-top: 90px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size: 4em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
.img-banner p {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size: 2em;
  font-family: "Nexa light", Helvetica, Arial;
}
.img-banner hr {
  width: 40%;
  box-shadow: .1px .1px 1px black;
  margin: -10px auto 10px auto;
}
/*--------------header---------------*/
header {
  margin-bottom: -120px;
  padding: 5px 0 20px 0;
  height: 120px;
  background: white;
  font-family: "Nexa light", Helvetica, Arial;
}
header #menuAf {
  margin-top: 5px;
  font-size: 12px;
}
header #menuAf a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin-right: 20px;
  color: #636363;
  text-decoration: none;
}
header #menuAf a a:hover {
  color: #707070;
}
header #logo {
  margin-top: 15px;
}
header #menuTop {
  margin-top: 30px;
  font-size: 18px;
}
#logoSmall {
  padding: 70px 0 10px 0;
}
.slicknav_menu {
  position: fixed;
  z-index: 999;
  display: none;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 719px) {
  /* #menu is the original menu */
  .js #menu {
    display: none;
  }
  .js .slicknav_menu {
    display: block;
  }
}
/*---------------footer---------------*/
footer {
  width: 100%;
  height: 50px;
  background-color: #898989;
}
footer p {
  padding-top: 1%;
  color: #636363;
  text-align: center;
  font-family: "Nexa Bold", Helvetica, Arial;
}
/*---------------Index---------------*/
#slide {
  width: 100%;
}
#slide .slider-container {
  margin: 0 -15px;
}
#slide #slider {
  width: 100%;
}
.centrado {
  color: #1ca8f7;
  text-align: center;
  font-family: "Nexa Bold", Helvetica, Arial;
}
.justificado {
  color: #7e7e7e;
  text-align: justify;
}
#aprenderas {
  margin-top: 100px;
}
#aprenderas h1 {
  margin-bottom: 50px;
  color: #636363;
  text-align: center;
}
#aprenderas h3 {
  color: #1ca8f7;
}
#aprenderas p {
  color: #7e7e7e;
}
#comienza {
  padding: 70px 0;
  width: 100%;
  background-color: #a7de57;
}
#comienza h1 {
  color: white;
  font-size: 4em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
#comienza h2 {
  color: white;
  text-shadow: 1px 1px 3px black;
  font-size: 3em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
#comienza p {
  color: black;
  font-size: large;
  font-family: "Nexa light", Helvetica, Arial;
}
#comienza span {
  padding-left: 40px;
  color: white;
  font-size: x-large;
  font-family: "Nexa Bold", Helvetica, Arial;
}
a.btn-azul {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  top: 0;
  margin-bottom: 30px;
  margin-left: 37%;
  padding: 15px 45px;
  background: #1ca8f7;
  box-shadow: 0px 6px 0px #136f9f;
  color: white;
  font-size: 28px;
  font-family: "Nexa Bold", Helvetica, Arial;
}
a.btn-azul:hover {
  top: 4px;
  background: #12a4f7 !important;
  box-shadow: 0px 4px 0px #136f9f;
  text-decoration: none;
}
a.btn-azul:active {
  top: 7px;
  background: #12a4f7 !important;
  box-shadow: 0px 2px 0px #136f9f;
}
#beneficios {
  margin: 100px 0;
}
#beneficios #mac {
  top: 200px;
  right: 180px;
}
#beneficios #encabezados ul {
  margin-bottom: 50px;
  margin-left: -30px;
  color: #636363;
  text-align: left;
  font-family: helvetica, arial;
}
.light {
  color: #1ca8f7;
  text-align: center;
  font-size: 4.5em;
  font-family: "Nexa light", Helvetica, Arial;
  line-height: 30%;
}
#testimoniales {
  width: 100%;
  background-image: url('../img/forex-quote-bg.jpg');
  background-position: center top;
  background-size: 1920px;
  background-repeat: no-repeat;
}
#testimoniales h2 {
  padding: 40px 0 15px 3%;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55);
}
#testimoniales span {
  float: right;
  margin-right: 30px;
  color: #136f9f;
}
.nexab {
  font-family: "Nexa Bold", Helvetica, Arial;
}
.nexal {
  font-family: "Nexa light", Helvetica, Arial;
}
.azulOscuro {
  color: #136f9f;
}
#franjaAzul {
  padding: 10px 0;
  width: 100%;
  background-color: #1ca8f7;
}
#franjaAzul p {
  margin-left: -60px;
  padding-top: 20px;
  color: white;
  font-family: "Nexa light", Helvetica, Arial;
}
#franjaAzul p span {
  font-size: 1.8em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
#franjaAzul #btn-af {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: -30px;
  padding: 10px 0 10px 40px;
  width: 250px;
  height: 70px;
  background-color: #136f9f;
}
a.btn-afiliado {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  top: 0;
  padding-right: 60px;
  color: white;
}
a.btn-afiliado span {
  font-size: 2.3em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
a.btn-afiliado:hover {
  top: 4px;
  background: #126996 !important;
  text-decoration: none;
}
a.btn-afiliado:active {
  top: 7px;
  background: #126996 !important;
}
#riesgo {
  padding: 50px 0;
  background-color: #D7D7D7;
  background-image: url('../img/forex-X.png');
  background-repeat: no-repeat;
}
#riesgo #advertencia h3 {
  padding: 10px 0px;
  text-align: center;
}
#riesgo #izq {
  margin-left: 30px;
}
/*---------------Comprar---------------*/
#img-comprar {
  background-image: url('../img/comprar-bg.jpg');
}
#comprar {
  position: relative;
  margin: 0 auto;
  padding: 100px 0;
  width: 100%;
  height: auto;
  background: url(../img/comprarBG.jpg) 0% 0 fixed;
}
#comprar #contenido-comprar section {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0px auto;
  padding: 40px;
  width: 500px;
  background-color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
#comprar #contenido-comprar section h1 {
  color: #136f9f;
}
#comprar #contenido-comprar section h4 {
  color: #136f9f;
  font-family: "Nexa light", Helvetica, Arial;
}
#comprar #contenido-comprar section h2 {
  color: #136f9f;
  font-family: "Nexa light", Helvetica, Arial;
  padding-top: 30px;
}
#comprar #contenido-comprar section ul {
  color: #7e7e7e;
  list-style: none;
  font-family: Helvetica;
}
#comprar #contenido-comprar section ul {
  padding: 30px 40px;
}
.btn-comprar {
  margin-top: 50px;
  margin-bottom: 0;
}
#item18 {
  border: 1px solid #cccccc !important;
  background: #f2f2f2;
  height: 150px;
  width: 100%;
  margin: 20px 0;
  overflow-x: hidden;
  padding: 5px !important;
}
/*---------------Contacto---------------*/
#contacto {
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
  height: auto;
  background: url(../img/contactanosbanner.jpg) 0% 0 fixed;
}
#contacto #banner-contacto {
  width: 100%;
}
#contacto #banner-contacto section h1 {
  margin-bottom: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-size: 4em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
#contacto #banner-contacto section h4 {
  margin-bottom: 0;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 2em;
  font-family: "Nexa light", Helvetica, Arial;
}
#formulario-contacto {
  padding: 70px 0;
  height: auto;
  background: url('../img/mail-bg.jpg') no-repeat center center;
}
#formulario-contacto #formCont {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 50px 50px 90px 50px;
  background-color: #F2F2F2;
  font-family: "Nexa light", Helvetica, Arial;
}
#formulario-contacto #formCont label {
  font-family: "Nexa light", Helvetica, Arial;
}
button.btn-verde {
  border: none;
}
.btn-verde {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  padding: 10px 90px;
  background: #a7de57;
  box-shadow: 0px 6px 0px #7ba53b;
  color: white;
  font-size: 28px;
  font-family: "Nexa Bold", Helvetica, Arial;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-verde:hover {
  top: 4px;
  background: #a3dc4e !important;
  box-shadow: 0px 4px 0px #7ba53b;
  text-decoration: none;
  color: white;
}
.btn-verde:active {
  top: 7px;
  background: #a3dc4e !important;
  box-shadow: 0px 2px 0px #7ba53b;
  color: white;
}
/*----------------SOPORTE-------------*/
#img-soporte {
  background-image: url('../img/soportebanner.jpg');
}
#soporte {
  margin: 50px auto;
}
#soporte ul {
  color: #7e7e7e;
  list-style: none;
  text-align: justify;
}
#soporte ul li {
  padding: 10px 0;
}
#soporte ul li h4 {
  color: #1ca8f7;
  font-size: 1.5em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
#soporte ul li p {
  padding-bottom: 50px;
  border-bottom: 1px solid #7e7e7e;
  font-family: helvetica;
}
#soporte h2 {
  padding: 20px 20px 0px 0px;
  border-bottom: 1px solid #1ca8f7;
  color: #1ca8f7;
  font-size: 2.5em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
.icon-bar {
  background-color: #136f9f !important;
}
#sidebar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 40px 0px 0px 75px;
  padding: 0px 25px;
  background-color: #F2F2F2;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.46);
}
#sidebar h3 {
  border-bottom: 1px solid #1ca8f7;
  color: #1ca8f7;
  font-family: "Nexa Bold", Helvetica, Arial;
}
#sidebar h4 {
  padding-top: 20px;
}
#sidebar ul {
  padding-top: -20px;
  font-family: "Nexa light", Helvetica, Arial;
}
#sidebar ul li {
  margin-bottom: -20px;
}
#sidebar #correoSoporte {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 15px 0;
  padding: -5px 5px 5px 5px;
  background-color: white;
}
#sidebar #correoSoporte h4 {
  color: #636363;
  text-align: center;
}
#sidebar #correoSoporte a {
  padding: 3px 10px;
  color: #1ca8f7;
  text-decoration: none;
  font-size: 1.3em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
.cinco {
  font-size: 5em;
}
.mgtop {
  margin-top: -70px;
}
/*----------------media large desktop-------------*/
@media only screen and (min-width: 1200px) and (max-width: 4000px) {
  #aprenderas {
    margin-top: 100px;
  }
  #aprenderas p {
    font-size: 1.3em;
  }
}
.aprende {
  margin: -30px 0 -150px 0;
}
/*----------------media desktop-------------*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  #aprenderas {
    margin-top: 100px;
  }
  #aprenderas p {
    font-size: 2em;
  }
  .aprende {
    margin: 0;
    font-size: 8px;
  }
  #banner-contacto section {
    padding-top: 50px;
  }
  #comprar #contenido-comprar section h1 {
    font-size: 3em;
  }
  #comprar #contenido-comprar section h4 {
    font-size: 2em;
  }
  #comprar #contenido-comprar section h2 {
    margin-top: -20px;
    font-size: 2.5em;
  }
}
/*----------------media tablet-------------*/
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .nav > li > a {
    padding: 5px 10px;
    font-size: 16px;
  }
  #aprenderas {
    margin-top: 100px;
  }
  #aprenderas p {
    font-size: 2.3em;
  }
  #comprar #contenido-comprar section {
    width: 500px;
  }
  #comprar #contenido-comprar section h1 {
    font-size: 2em;
  }
  #comprar #contenido-comprar section h4 {
    font-size: 1em;
  }
  #comprar #contenido-comprar section h2 {
    margin-top: -20px;
    font-size: 1.5em;
  }
  #beneficios #mac {
    display: none;
  }
  #tresimagenes img {
    margin: 0 25%;
  }
  #banner-contacto section {
    padding-top: 50px;
  }
  #franjaAzul h2 {
    text-align: center;
  }
  #franjaAzul p {
    margin: 0 30%;
  }
  #franjaAzul #btn-af {
    margin: 0 30%;
  }
}
/*----------------media smartphone-------------*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
  #aprenderas {
    margin-top: 100px;
  }
  #aprenderas p {
    font-size: 2em;
  }
  #aprenderas section img {
    top: -100px;
  }
  #otromenu {
    top: -300px;
    width: 50%;
  }
  #otromenu #menu {
    top: -100px;
    float: right;
    margin-top: -50px;
    padding: 0 -10px;
    font-size: 1em;
  }
  #comprar #contenido-comprar section {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  #comprar #contenido-comprar section h1 {
    font-size: 2em;
  }
  #comprar #contenido-comprar section h4 {
    font-size: 1em;
  }
  #comprar #contenido-comprar section h2 {
    margin-top: -20px;
    font-size: 1.5em;
  }
  #comprar #contenido-comprar section ul {
    display: none;
  }
  #beneficios #mac {
    display: none;
  }
  #beneficios h1 {
    font-size: 3em;
  }
  #tresimagenes img {
    margin: 0 15%;
  }
  #contacto #banner-contacto section {
    padding-top: 50px;
  }
  #contacto #banner-contacto section h1 {
    font-size: 3em;
  }
  #contacto #banner-contacto section h4 {
    font-size: 2em;
  }
  #contacto #formulario-contacto #formCont {
    margin-bottom: 80px;
  }
  #franjaAzul h2 {
    text-align: center;
  }
  #franjaAzul p {
    margin: 0 30%;
  }
  #franjaAzul #btn-af {
    margin: 0 30%;
  }
}
