@import "elements.less";


/*--------------variables-------------*/
@azul:#1CA8F7;
@verde:#A7DE57;
@azulOscuro:#136F9F;
@verdeOscuro:#7BA53B;
@h:#636363;
@texto:#7E7E7E;
@nexaB:"Nexa Bold", Helvetica, Arial;
@nexaL:"Nexa light", Helvetica, Arial;
@large-desktop:   ~"only screen and (min-width: 1200px) and (max-width: 4000px)";
@desktop:   ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@smartphone: ~"only screen and (min-width : 320px) and (max-width : 480px)";



/*--------------generales---------------*/
.img-banner{
	width: 100%;
	height: 300px;
	background-position: center center;
	h1{
		padding-top: 90px;
		color: white;
		text-align: center;
		text-shadow: 1px 1px 2px black;
		font-size: 4em;
		font-family: @nexaB;
	}
	p{
		color: white;
		text-align: center;
		text-shadow: 1px 1px 2px black;
		font-size: 2em;
		font-family: @nexaL;
	}
	hr{
		width: 40%;
		box-shadow: .1px .1px 1px black;
		margin: -10px auto 10px auto;
	}
	
}

/*--------------header---------------*/
header {
	margin-bottom: -120px;
	padding: 5px 0 20px 0;
	height: 120px;
	background: white;
	font-family: @nexaL;
	#menuAf{
		margin-top: 5px;
		font-size: 12px;
		a {
			.transition(.2s, ease-out);
			margin-right: 20px;
			color: @h;
			text-decoration: none;
			a:hover {
				color: lighten(@h, 5%);
			}
		}
	}
	#logo {
		margin-top: 15px;
	}
	#menuTop {
		margin-top: 30px;
		font-size: 18px;
	}
}
#logoSmall {
	padding: 70px 0 10px 0;
}
.slicknav_menu {
	position: fixed;
	z-index: 999;
	display:none;
	width: 100%;
	box-shadow:0px 2px 5px rgba(0,0,0,0.5);
}

@media screen and (max-width: 719px) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}
/*---------------footer---------------*/
footer{
	width: 100%;
	height: 50px;
	background-color:#898989;
	p{
		padding-top: 1%;
		color: #636363;
		text-align: center;
		font-family: @nexaB;
	}
}


/*---------------Index---------------*/
#slide{
	width: 100%;
	.slider-container{
		margin: 0 -15px;
	}
	#slider{
		width: 100%;
	}
}
.centrado{
	color: @azul;
	text-align: center;
	font-family: @nexaB;
}
.justificado{
	color: @texto;
	text-align: justify;
}

#aprenderas{
	margin-top: 100px;
	h1{
		margin-bottom: 50px;
		color: @h;
		text-align: center;
	}
	h3{
		color: @azul;
	}
	p{
		color: @texto;
	}
}

#comienza{
	padding: 70px 0;
	width: 100%;
	background-color: @verde;
	h1{
		color: white;
		font-size: 4em;
		font-family: @nexaB;
	}
	h2{
		color: white;
		text-shadow: 1px 1px 3px black;
		font-size: 3em;
		font-family: @nexaB;
	}
	p{
		color: black;
		font-size: large;
		font-family: @nexaL;
	}
	span{
		padding-left: 40px;
		color: white;
		font-size: x-large;
		font-family: @nexaB;
	}
}

a.btn-azul { 
	.rounded(5px) !important;
	.transition(.2s, ease);
	position: relative;
	top:0;
	margin-bottom: 30px;
	margin-left:37%;
	padding:15px 45px;
	background: @azul;
	box-shadow: 0px 6px 0px @azulOscuro;
	color: white;
	font-size: 28px;
	font-family: @nexaB;
	&:hover{
		top:4px;
		background: darken(@azul, 2%) !important;
		box-shadow: 0px 4px 0px @azulOscuro;
		text-decoration: none;
	}
	&:active{
		top:7px;
		background: darken(@azul, 2%) !important;
		box-shadow: 0px 2px 0px @azulOscuro;
	}
}

#beneficios{
	margin: 100px 0;
	#mac{
		top:200px;
		right: 180px;
	}
	#encabezados{
		ul{
			margin-bottom: 50px;
			margin-left: -30px;
			color: @h;
			text-align: left;
			font-family: helvetica, arial;
		}
	}
}
.light{
	color: @azul;
	text-align: center;
	font-size: 4.5em;
	font-family: @nexaL;
	line-height: 30%;
}


#testimoniales{
	width: 100%;
	background-image: url('../img/forex-quote-bg.jpg');
	background-position: center top;
	background-size: 1920px;
	background-size: 1920px;
	background-repeat: no-repeat;
	h2{
		padding: 40px 0 15px 3%;
		color: white;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.55);
	}
	span{
		float: right;
		margin-right: 30px;
		color: @azulOscuro;
	}
}
.nexab{
	font-family: @nexaB;
}
.nexal{
	font-family: @nexaL;
}
.azulOscuro{
	color: @azulOscuro;
}
#franjaAzul{
	padding: 10px 0;
	width: 100%;
	background-color: @azul;
	p{
		margin-left: -60px;
		padding-top: 20px;
		color: white;
		font-family: @nexaL;
		span{
			font-size: 1.8em;
			font-family: @nexaB;
		}
	}
	#btn-af{
		.rounded(5px);
		margin-left: -30px;
		padding: 10px 0 10px 40px;
		width: 250px;
		height: 70px;
		background-color: @azulOscuro;
	}
}
a.btn-afiliado {
	.transition(.2s, ease);
	position: relative;
	top:0;
	padding-right: 60px;
	color: white;
	span{
		font-size: 2.3em;
		font-family: @nexaB;
		
	}
	&:hover{
		top:4px;
		background: darken(@azulOscuro, 2%) !important;
		text-decoration: none;
	}
	&:active{
		top:7px;
		background: darken(@azulOscuro, 2%) !important;
	}
}

#riesgo{
	padding: 50px 0;
	background-color: #D7D7D7;
	background-image: url('../img/forex-X.png');
	background-repeat: no-repeat;
	#advertencia{
		h3{
			padding: 10px 0px;
			text-align: center;
		}
	}
	#izq{
		margin-left: 30px;
	}
}


/*---------------Comprar---------------*/
#img-comprar {
	background-image: url('../img/comprar-bg.jpg');
}

#comprar{ 
    position: relative;  
    margin: 0 auto; 
    padding: 100px 0;
	width: 100%; 
    height: auto;
	background: url(../img/comprarBG.jpg) 0% 0 fixed;
		#contenido-comprar{
			section{
			.rounded(10px);
			margin: 0px auto;
			padding: 40px;
			width: 500px;
			background-color: white;
			box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
			h1{
				color: @azulOscuro;
			}
			h4{
				color: @azulOscuro;
				font-family: @nexaL;
			}
			h2{
				color: @azulOscuro;
				font-family: @nexaL;
				padding-top: 30px;
			}
			ul{
				color: @texto;
				list-style:none;
				font-family: Helvetica;
			}
			ul{
				padding: 30px 40px;
			}
		}
		
	}
}
.btn-comprar {
	margin-top: 50px;
	margin-bottom: 0;
}

#item18 {
  border: 1px solid #cccccc !important;
  background: #f2f2f2;
  height:150px;
  width: 100%;
  margin: 20px 0;
  overflow-x: hidden;
  padding: 5px !important;
}
/*---------------Contacto---------------*/
#contacto{ 
    position: relative;  
    margin: 0 auto; 
    padding: 50px 0;
	width: 100%; 
    height: auto;
	background: url(../img/contactanosbanner.jpg) 0% 0 fixed;
	#banner-contacto{
		width: 100%;
		section{
			h1{
				margin-bottom: 0;
				color:white;
				text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
				font-size: 4em;
				font-family: @nexaB;
			}
			h4{
				margin-bottom: 0;
				color: white;
				text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
				font-size: 2em;
				font-family: @nexaL;
			}	
		}
	}
}

#formulario-contacto{
    padding: 70px 0;
    height: auto;
    background: url('../img/mail-bg.jpg') no-repeat center center;
    #formCont{
    	.rounded(10px);
    	padding: 50px 50px 90px 50px;
    	background-color: #F2F2F2;
    	font-family: @nexaL;
    	label{
    		font-family: @nexaL;
    	}

    }
}
button.btn-verde {
	border: none;
}
.btn-verde {
	.rounded(5px) !important;
	padding:10px 90px;
	background: @verde;
	box-shadow: 0px 6px 0px @verdeOscuro;
	color: white;
	font-size: 28px;
	font-family: @nexaB;
	&:hover{
		top:4px;
		background: darken(@verde, 2%) !important;
		box-shadow: 0px 4px 0px @verdeOscuro;
		text-decoration: none;
		color: white;
	}
	&:active{
		top:7px;
		background: darken(@verde, 2%) !important;
		box-shadow: 0px 2px 0px @verdeOscuro;
		color: white;
	}
	.transition(.2s, ease);
}


/*----------------SOPORTE-------------*/
#img-soporte {
	background-image: url('../img/soportebanner.jpg');
}

#soporte{
margin: 50px auto;
	ul{
		color: @texto;
		list-style: none;
		text-align: justify;
		li{
			padding:10px 0;
			h4{
				color: @azul;
				font-size: 1.5em;
				font-family: @nexaB;
			}
			p{
				padding-bottom: 50px;
				border-bottom: 1px solid @texto;
				font-family: helvetica; 
			}
		}
	}	
	h2{
		padding: 20px 20px 0px 0px;
		border-bottom: 1px solid @azul;
		color: @azul;
		font-size:2.5em;
		font-family: @nexaB;
	}
}
.icon-bar{
	background-color: @azulOscuro !important;
}
#sidebar{
		.rounded(10px);
		margin:40px 0px 0px 75px; 
		padding: 0px 25px;
		background-color: #F2F2F2;
		box-shadow: 1px 1px 7px rgba(0,0,0,0.46);
		h3{
			border-bottom: 1px solid @azul;
			color: @azul;
			font-family: @nexaB;
			
		}
		h4{
			padding-top: 20px;
		}
		ul{
			padding-top: -20px;
			font-family: @nexaL;
			li{
				margin-bottom:-20px; 
			}
		}
		#correoSoporte{
			.rounded(10px);
			margin: 15px 0;
			padding: -5px 5px 5px 5px;
			background-color: white;
			h4{
				color: @h;
				text-align: center;
			}
			a{
				padding: 3px 10px;
				color:@azul;
				text-decoration: none;
				font-size: 1.3em;
				font-family: @nexaB;
			}
		}
		
	}
.cinco{
	font-size:5em;
}

.mgtop{
	margin-top: -70px;
}


/*----------------media large desktop-------------*/	
@media @large-desktop{                            
  #aprenderas{
		margin-top: 100px;
		p{
			font-size: 1.3em;
		}
	}
}
.aprende{
	margin: -30px 0 -150px 0;
}


/*----------------media desktop-------------*/	
@media @desktop{

	#aprenderas{
		margin-top: 100px;
		p{
			font-size: 2em;
		}
	}
	.aprende{
		margin: 0;
		font-size: 8px;
	}
	#banner-contacto{
		section{
			padding-top: 50px;
		}
	}
	#comprar{
		#contenido-comprar{
			section{

				h1{
				font-size: 3em;
				}
				h4{
					font-size: 2em;
				}
				h2{
					margin-top: -20px;
					font-size: 2.5em;
				}

			}
		}
	}
}


/*----------------media tablet-------------*/	
@media @tablet{
	.nav>li>a {
		padding: 5px 10px;
		font-size: 16px;
	}

	#aprenderas{
		margin-top: 100px;
		p{
			font-size: 2.3em;
		}
		
	}
	#comprar{
		#contenido-comprar{
			section{
				width: 500px;

				h1{
				font-size: 2em;
				}
				h4{
					font-size: 1em;
				}
				h2{
					margin-top: -20px;
					font-size: 1.5em;
				}
				
			}
		}
	}
	#beneficios{
		#mac{
			display: none;
		}
	}
	#tresimagenes{
		img{
			margin: 0 25%;
		}
	}
	#banner-contacto{
		section{
			padding-top: 50px;
		}
	}
	#franjaAzul{
		h2{
			text-align: center;
		}
		p{
			margin: 0 30%;
		}
		#btn-af{
			margin: 0 30%;
		}
	}
}


/*----------------media smartphone-------------*/	
@media @smartphone{
	#aprenderas{
		margin-top: 100px;
		p{
			font-size: 2em;
		}
		section{
			img{
				top:-100px;
			}
		}
	}
	#otromenu{
		top: -300px;
		width: 50%;
		#menu{
			top: -100px;
			float: right;
			margin-top: -50px;
			padding: 0 -10px;
			font-size: 1em;
		}
	}
	#comprar{
		#contenido-comprar{
			section{
				margin :0 auto;
				width: 300px;
				height: 300px;
				h1{
				font-size: 2em;
				}
				h4{
					font-size: 1em;
				}
				h2{
					margin-top: -20px;
					font-size: 1.5em;
				}
				ul{
					display: none;
				}
			}
		}
	}
	#beneficios{
		#mac{
			display: none;
		}
		h1{
			font-size:3em;
		}
	}
	#tresimagenes{
		img{
			margin: 0 15%;
		}
	}
	#contacto{
		#banner-contacto{
			section{
				padding-top: 50px;
				h1{
					font-size: 3em;
				}
				h4{
					font-size: 2em;
				}
			}
		}
		#formulario-contacto{
			#formCont {
				margin-bottom: 80px;
			}
		}
	}
	#franjaAzul{
		h2{
			text-align: center;
		}
		p{
			margin: 0 30%;
		}
		#btn-af{
			margin: 0 30%;
		}
	}
}
