/*--------------variables-------------*/
/*--------------header---------------*/
header {
  width: 100%;
  height: 100px;
  margin: 15px 0;
}
header #menu {
  font-family: "Nexa light", Helvetica, Arial;
  font-size: large;
  margin-top: 40px;
}
/*---------------footer---------------*/
footer {
  width: 100%;
  height: 50px;
  background-color: #898989;
}
footer p {
  text-align: center;
  color: #636363;
  font-family: "Nexa Bold", Helvetica, Arial;
  padding-top: 1%;
}
/*---------------Index---------------*/
#slide {
  width: 100%;
}
#slide .slider-container {
  margin: 0 -15px;
}
#slide #slider {
  width: 100%;
}
.centrado {
  color: #1ca8f7;
  font-family: "Nexa Bold", Helvetica, Arial;
  text-align: center;
}
.justificado {
  text-align: justify;
  color: #7e7e7e;
}
#aprenderas {
  margin-top: 500px;
}
#aprenderas h1 {
  color: #636363;
  text-align: center;
  margin-bottom: 50px;
}
#aprenderas h3 {
  color: #1ca8f7;
}
#aprenderas p {
  color: #7e7e7e;
}
.aprende {
  margin: 20px 0 20px 0;
  padding: 100px 0 30px 0;
}
.derecha {
  text-align: right;
}
.izquierda {
  margin-left: 100px;
}
#comienza {
  width: 100%;
  background-color: #a7de57;
  padding: 70px 0;
}
#comienza h1 {
  color: white;
  font-family: "Nexa Bold", Helvetica, Arial;
  font-size: 4em;
}
#comienza h2 {
  color: white;
  font-family: "Nexa Bold", Helvetica, Arial;
  font-size: 3em;
  text-shadow: 1px 1px 3px black;
}
#comienza p {
  color: black;
  font-family: "Nexa light", Helvetica, Arial;
  font-size: large;
}
#comienza span {
  font-family: "Nexa Bold", Helvetica, Arial;
  color: white;
  padding-left: 40px;
  font-size: x-large;
}
a.btn-azul {
  margin-left: 37%;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  top: 0;
  margin-bottom: 30px;
  padding: 15px 45px;
  background: #1ca8f7;
  box-shadow: 0px 6px 0px #136f9f;
  color: white;
  font-size: 28px;
  font-family: "Nexa Bold", Helvetica, Arial;
}
a.btn-azul:hover {
  top: 4px;
  background: #12a4f7 !important;
  box-shadow: 0px 4px 0px #136f9f;
  text-decoration: none;
}
a.btn-azul:active {
  top: 7px;
  background: #12a4f7 !important;
  box-shadow: 0px 2px 0px #136f9f;
}
#beneficios {
  margin: 100px;
}
#beneficios #mac {
  right: 180px;
  top: 200px;
}
#beneficios #encabezados ul {
  color: #636363;
  text-align: left;
  margin-left: -30px;
  font-family: helvetica, arial;
  margin-bottom: 50px;
}
.light {
  text-align: center;
  font-family: "Nexa light", Helvetica, Arial;
  color: #1ca8f7;
  font-size: 4.5em;
  line-height: 30%;
}
a.btn-verde {
  right: -60%;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  top: 0;
  margin-bottom: 30px;
  padding: 10px 90px;
  background: #a7de57;
  box-shadow: 0px 6px 0px #7ba53b;
  color: white;
  font-size: 28px;
  font-family: "Nexa Bold", Helvetica, Arial;
}
a.btn-verde:hover {
  top: 4px;
  background: #a3dc4e !important;
  box-shadow: 0px 4px 0px #7ba53b;
  text-decoration: none;
}
a.btn-verde:active {
  top: 7px;
  background: #a3dc4e !important;
  box-shadow: 0px 2px 0px #7ba53b;
}
.jOscuro {
  text-align: justify;
  color: #636363;
  margin: 50px 0;
  font-family: helvetica, arial;
}
#testimoniales {
  width: 100%;
  background-image: url('../img/forex-quote-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1920px;
}
#testimoniales h2 {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55);
  padding: 40px 0 15px 3%;
}
#testimoniales span {
  float: right;
  color: #136f9f;
}
.nexab {
  font-family: "Nexa Bold", Helvetica, Arial;
}
.nexal {
  font-family: "Nexa light", Helvetica, Arial;
}
.azulOscuro {
  color: #136f9f;
}
#franjaAzul {
  width: 100%;
  background-color: #1ca8f7;
  padding: 10px 0;
}
#franjaAzul p {
  margin-left: -60px;
  padding-top: 20px;
  color: white;
  font-family: "Nexa light", Helvetica, Arial;
}
#franjaAzul p span {
  font-size: 1.8em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
#franjaAzul #btn-af {
  height: 70px;
  width: 250px;
  background-color: #136f9f;
  padding: 10px 0 10px 40px;
  margin-left: -30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
a.btn-afiliado {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  top: 0;
  color: white;
  padding-right: 60px;
}
a.btn-afiliado span {
  font-size: 2.3em;
  font-family: "Nexa Bold", Helvetica, Arial;
}
a.btn-afiliado:hover {
  top: 4px;
  background: #126996 !important;
  text-decoration: none;
}
a.btn-afiliado:active {
  top: 7px;
  background: #126996 !important;
}
#riesgo {
  background-color: #D7D7D7;
  background-image: url('../img/forex-X.png');
  background-repeat: no-repeat;
  padding: 50px 0;
}
#riesgo #advertencia h3 {
  padding: 10px 0px;
  text-align: center;
}
#riesgo #izq {
  margin-left: 30px;
}
/*---------------Curso---------------*/
/*---------------Comprar---------------*/
#comprar {
  width: 100%;
}
#comprar section {
  margin-top: -800px;
}
#comprar section #contenido-comprar {
  background-color: white;
}
#comprar section ul {
  padding: 10px 90px;
}
/*---------------Afiliate---------------*/
/*---------------Contacto---------------*/
